.feedback-form{
    border-radius: 5px;
    box-shadow: 0px 0px 0px 0px rgb(83 83 83 / 50%);
    transition: box-shadow .5s;

}
.feedback-form > .form-group{
    position: relative;
}

.feedback-form:hover{
    box-shadow: 1px 2px 14px 3px rgb(83 83 83 / 50%);
}

.invalid-active{
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
}

#toast-container .toast > .toast-message{
    font-size: 1.4rem;
    text-align: justify;
}

#toast-container > .toast-info,
#toast-container > .toast-error,
#toast-container > .toast-success,
#toast-container > .toast-warning {
    background-image: none!important;
}

.container #toast-container > div,
.container #toast-container .toast{
  padding: 15px 20px;
}
#toast-container > div {
  width: 600px;
}